# Digite suas credenciais antes do __
# Por exemplo:
# OPENAI__API_KEY=no-key
# OPENAI__MODEL_NAME=gpt-4o-mini
# OPENAI__BASE_URL=https://api.openai.com/v1

EXAMPLE__API_KEY=your-api-key-here
EXAMPLE__BASE_URL=https://api.openai.com/v1
EXAMPLE__MODEL_NAME=gpt-4o
EXAMPLE__INPUT_PRICE=0.0
EXAMPLE__OUTPUT_PRICE=0.0

#Exemplo pratico
GEMINI__API_KEY=your-api-key-here
GEMINI__MODEL_NAME=gemini-3.1-pro-preview
GEMINI__BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai
GEMINI__INPUT_PRICE=0.000002 # Entrada: 2U$ por 1M tokens
GEMINI__OUTPUT_PRICE=0.000012 # Saída: 12U$ por 1M tokens