# Digite suas credenciais antes do __
# Por exemplo:
# OPENAI__API_KEY=no-key
# OPENAI__MODEL_NAME=gpt-4o-mini
# OPENAI__BASE_URL=https://api.openai.com/v1

EXAMPLE__API_KEY=your-api-key-here
EXAMPLE__BASE_URL=https://api.openai.com/v1
EXAMPLE__MODEL_NAME=gpt-4o
